subscription_id     = "REPLACE_WITH_SUBSCRIPTION_ID"
location            = "eastasia"
prefix              = "tommy-tf-rebuild"
admin_cidr          = "REPLACE_WITH_CURRENT_PUBLIC_IPV4/32"
ssh_public_key_path = "~/.ssh/azure-tf-lab.pub"
vm_size             = "Standard_B1s"
create_compute      = false
